.idea
.git
out/
.idea/workspace.xml
out/production/Hello kotlin/Aquarium/Aquarium.class
out/production/Hello kotlin/Aquarium/MainKt.class
out/production/Hello kotlin/Aquarium/Aquarium.class
out/production/Hello kotlin/Aquarium/Aquarium.class
out/production/Hello kotlin/Aquarium/MainKt.class
.idea/*
/.idea/
